:root {
    /* кольори */
--background-primary: #f5f5f5;
--background-second: #F5F4FA;
--background-elements: #2F303A;
--color-primary: #757575;
--color-grey: #212121;
--color-black: #000000;
--color-blue: #2196f3;
--color-white: #ffffff;
}
 
/* шрифти */
.page {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-primary);
    color: var(--color-primary);
    line-height: 1,46;
    letter-spacing: 3%;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* хедер */

.logo {
    font-family: 'Raleway', sans-serif;
    line-height: 1;
}

.logo .logo-decorate {
    color: var(--color-blue);
}

.nav {

}
.nav-list {
}
.nav-link {
}
.link {
}
.current {
}
.contacts {
}
.contacts-link {
}
.hero {
}
.hero-title {
}
.button {
}
.hidden {
}
.advantages {
}
.section {
}
.section-title {
}
.works {
}
.works-examples {
}
.team {
}
.team-photo {
}
.team-name {
}
.team-role {
}
.hidden {
}
.buttons-list {
}
.button {
}
.link {
}
.projects {
}
.projects-list {
}
.projects-photo {
}
.projects-title {
}

