:root {
    /* кольори */
--background-primary: #f5f5f5;
--background-second: #F5F4FA;
--background-elements: #2F303A;
--color-primary: #757575;
--color-grey: #212121;
--color-black: #000000;
--color-blue: #2196f3;
--color-white: #ffffff;
}
 
/* загальні */
.page {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-primary);
    color: var(--color-primary);
    line-height: 1,46;
    letter-spacing: 3%;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.hidden {
    visibility: hidden;
}

/* хедер */

.logo {
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    color: var(--color-black);
}

.logo .logo-decorate {
    color: var(--color-blue);
}

.nav {
    
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 2%;
    color: var(--color-grey);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-blue);
}

.current {
    color: var(--color-blue);
}
.contacts {
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 2%;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}

/* секція хіро */

.hero {
    background-color: var(--background-elements);
}
.hero-title {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 6%;
}
.hero-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 6%;
}

/* секція advantages */

.advantages {

}

.advantages .advantages-title {

}

.advantages .advantages-note {

}
.section {
}
.section-title {
}
.works {
}
.works-examples {
}
.team {
}
.team-photo {
}
.team-name {
}
.team-role {
}
.hidden {
}
.buttons-list {
}
.button {
}
.link {
}
.projects {
}
.projects-list {
}
.projects-photo {
}
.projects-title {
}

